table,
th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}
table {
  max-width: 400px;
  margin: auto;
  border: 2px solid lightgray;
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.container__form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.people {
  margin: auto;
}
.people__button {
  display: flex;
}
.peopleContainer__form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 20px;
}
.peopleContainer__form input {
  padding: 5px;
  margin-bottom: 5px;
}
