.App {
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

/* login */
.login {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-weight: 500;
  margin: auto;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.login p {
  color: lightgray;
}
.login__submit {
  padding: 7px;
  margin-top: 10px;
}
/* login */

/* Modal */
.modal__form {
  display: flex !important;
  flex-direction: column;
}

.modal__form input,
.modal__form button {
  padding: 10px;
  margin-top: 10px;
}

.modal__container,
.modal__container2 {
  max-width: 30%;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.modal__form button {
  border: none;
  border-radius: 10px;
}

.modal__container2 {
  height: 400px;
}

/* footer */

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: black;
  height: 100px;
  text-align: center;
  color: lightgray;
}

.footer p:hover {
  color: white;
  cursor: pointer;
}

/* button */

.userViewField {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  align-items: center;
  padding: 20px;
}
.userViewField > div {
  margin-bottom: 20px;
}

.userViewField__item {
  display: flex;
}

.grid-item {
  max-width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

.grid-item:hover {
  background-color: black;
  color: white;
}
@media (min-width: 900px) {
  .userViewField__item {
    flex-direction: column;
  }
}
